[Unit]
Description=ThinkPad Yoga Wakeup Service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "echo XHC > /proc/acpi/wakeup"

[Install]
WantedBy=multi-user.target
